$logo:'Mochiy Pop One',sans-serif;
$font-text:'Source Sans Pro',sans-serif;
$size-title: 2em;
$size-subtitle: 1.3em;
$verde:#b5e48c;
$negro:#040f0f;
$shadow-cajas: inset 3px 2px 71px -60px rgba(181, 228, 140, 0.87),
inset 3px 2px 71px -60px rgba(181, 228, 140, 0.87),
inset 3px 2px 71px -60px rgba(181, 228, 140, 0.87);